.example-1{
    font-size: 25px;
    text-align: center;
    font-family: cursive;
    text-shadow: 0 0 5px blue;
}
.example-2{
    font-size: 19px;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
}
.example-3{
    font-size: 26px;
    text-align: end;
    margin-right: 90px;
    text-shadow: 0 0 5px red;
    color: white;
}